Services_SOAP_v1/eFolderSvcs/Resources/wsdl/eFolder/WSDL_-731387039.wsdl

<wsdl:definitions targetNamespace="http://www.elliemae.com/encompass/platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elliemae.com/encompass/platform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/encompass/platform/Imports">
			<xsd:import schemaLocation="../../xsd/eFolder/XMLSchema_-462529928.xsd" namespace="http://www.elliemae.com/encompass/platform"/>
			<xsd:import schemaLocation="../../xsd/eFolder/XMLSchema_43028697.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="LoanFolderLocationRequest">
		<wsdl:part name="LoanGuid" element="tns:LoanGuid"/>
	</wsdl:message>
	<wsdl:message name="LoanFolderLocationRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="LoanFolderLocationResponse">
		<wsdl:part name="LoanFolderLocationResponse" element="tns:LoanFolderLocationResponse"/>
	</wsdl:message>
	<wsdl:message name="FileLocationRequest">
		<wsdl:part name="FileLocationRequest" element="tns:FileLocationRequest"/>
	</wsdl:message>
	<wsdl:message name="FileLocationRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="FileLocationResponse">
		<wsdl:part name="FileLocationResponse" element="tns:FileLocationResponse"/>
	</wsdl:message>
	<wsdl:message name="AttachmentAssociateRequest">
		<wsdl:part name="AttachmentAssociateRequest" element="tns:AttachmentAssociateRequest"/>
	</wsdl:message>
	<wsdl:message name="AttachmentAssociateRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="AttachmentAssociateResponse">
		<wsdl:part name="AttachmentAssociateResponse" element="tns:AttachmentAssociateResponse"/>
	</wsdl:message>
	<wsdl:message name="DocumentLogListGetRequest">
		<wsdl:part name="DocumentLogListGetRequest" element="tns:DocumentLogListGetRequest"/>
	</wsdl:message>
	<wsdl:message name="DocumentLogListGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="DocumentLogListGetResponse">
		<wsdl:part name="DocumentLogList" element="tns:DocumentLogList"/>
	</wsdl:message>
	<wsdl:portType name="IeFolderService">
		<wsdl:operation name="FolderLocationGet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/FolderLocationGet" name="LoanFolderLocationRequest" message="tns:LoanFolderLocationRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/FolderLocationGetResponse" name="LoanFolderLocationResponse" message="tns:LoanFolderLocationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="FileLocationGet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/FileLocationGet" name="FileLocationRequest" message="tns:FileLocationRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/FileLocationGetResponse" name="FileLocationResponse" message="tns:FileLocationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="AttachmentAssociate">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/AttachmentAssociate" name="AttachmentAssociateRequest" message="tns:AttachmentAssociateRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/AttachmentAssociateResponse" name="AttachmentAssociateResponse" message="tns:AttachmentAssociateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentLogListGet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/DocumentLogListGet" name="DocumentLogListGetRequest" message="tns:DocumentLogListGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/IeFolderService/DocumentLogListGetResponse" name="DocumentLogListGetResponse" message="tns:DocumentLogListGetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>