Services_SOAP_v1/TradeSvcs/Resources/wsdl/platform/WSDL_626760638.wsdl

<wsdl:definitions targetNamespace="http://www.elliemae.com/encompass/platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elliemae.com/encompass/platform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/encompass/platform/Imports">
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_1148103175.xsd" namespace="http://www.elliemae.com/encompass/platform"/>
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_186489158.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_2109717192.xsd" namespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.Common"/>
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_-1223636087.xsd" namespace="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts"/>
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_-262022070.xsd" namespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.ClientServer.Reporting"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="LoanTradeGetRequest">
		<wsdl:part name="LoanTradeGetRequest" element="tns:LoanTradeGetRequest"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeGetResponse">
		<wsdl:part name="LoanTradeGetResponse" element="tns:LoanTradeGetResponse"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeCreateRequest">
		<wsdl:part name="LoanTradeCreateRequest" element="tns:LoanTradeCreateRequest"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeCreateRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeCreateResponse">
		<wsdl:part name="LoanTradeCreateResponse" element="tns:LoanTradeCreateResponse"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeDeleteRequest">
		<wsdl:part name="LoanTradeDeleteRequest" element="tns:LoanTradeDeleteRequest"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeDeleteRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeDeleteResponse">
		<wsdl:part name="LoanTradeDeleteResponse" element="tns:LoanTradeDeleteResponse"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeUpdateRequest">
		<wsdl:part name="LoanTradeUpdateRequest" element="tns:LoanTradeUpdateRequest"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeUpdateRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="LoanTradeUpdateResponse">
		<wsdl:part name="LoanTradeUpdateResponse" element="tns:LoanTradeUpdateResponse"/>
	</wsdl:message>
	<wsdl:portType name="ILoanTradeService">
		<wsdl:operation name="GetLoanTrade">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/GetLoanTrade" name="LoanTradeGetRequest" message="tns:LoanTradeGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/GetLoanTradeResponse" name="LoanTradeGetResponse" message="tns:LoanTradeGetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CreateLoanTrade">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/CreateLoanTrade" name="LoanTradeCreateRequest" message="tns:LoanTradeCreateRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/CreateLoanTradeResponse" name="LoanTradeCreateResponse" message="tns:LoanTradeCreateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteLoanTrade">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/DeleteLoanTrade" name="LoanTradeDeleteRequest" message="tns:LoanTradeDeleteRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/DeleteLoanTradeResponse" name="LoanTradeDeleteResponse" message="tns:LoanTradeDeleteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateLoanTrade">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/UpdateLoanTrade" name="LoanTradeUpdateRequest" message="tns:LoanTradeUpdateRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradeService/UpdateLoanTradeResponse" name="LoanTradeUpdateResponse" message="tns:LoanTradeUpdateResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>