Services_SOAP_v1/Shared/Resources/xsd/XMLSchema_-490036.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.ClientServer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.ClientServer"><xs:complexType name="ArrayOfEPassMessageInfo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="EPassMessageInfo" nillable="true" type="tns:EPassMessageInfo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfEPassMessageInfo" nillable="true" type="tns:ArrayOfEPassMessageInfo"/><xs:complexType name="EPassMessageInfo"><xs:sequence><xs:element name="active" type="xs:boolean"/><xs:element name="description" nillable="true" type="xs:string"/><xs:element name="loanGuid" nillable="true" type="xs:string"/><xs:element name="messageId" nillable="true" type="xs:string"/><xs:element name="messageType" nillable="true" type="xs:string"/><xs:element name="msgXml" nillable="true" type="xs:string"/><xs:element name="source" nillable="true" type="xs:string"/><xs:element name="timestamp" type="xs:dateTime"/><xs:element name="userId" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="EPassMessageInfo" nillable="true" type="tns:EPassMessageInfo"/></xs:schema>