Services_SOAP_v1/Shared/Resources/xsd/XMLSchema_-326207767.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts">
	<xs:import schemaLocation="XMLSchema_-192194261.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
	<xs:simpleType name="PayloadFormatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Xml"/>
			<xs:enumeration value="Json"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PayloadFormatType" nillable="true" type="tns:PayloadFormatType"/>
	<xs:simpleType name="FieldAccessRestrictionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hide"/>
			<xs:enumeration value="Readonly"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FieldAccessRestrictionType" nillable="true" type="tns:FieldAccessRestrictionType"/>
	<xs:simpleType name="SortOrder">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Ascending"/>
			<xs:enumeration value="Descending"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SortOrder" nillable="true" type="tns:SortOrder"/>
	<xs:simpleType name="FilterOperator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="And"/>
			<xs:enumeration value="Or"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FilterOperator" nillable="true" type="tns:FilterOperator"/>
	<xs:simpleType name="LoanFolderAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Originate">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DuplicateFrom">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DuplicateInto">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Import">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LoanFolderAction" nillable="true" type="tns:LoanFolderAction"/>
	<xs:simpleType name="RuleValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Permit">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Deny">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RuleValue" nillable="true" type="tns:RuleValue"/>
	<xs:simpleType name="LoanActivityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="OrderCredit"/>
			<xs:enumeration value="OrderFlood"/>
			<xs:enumeration value="OrderFraud"/>
			<xs:enumeration value="OrderTitle"/>
			<xs:enumeration value="OrderAppraisal"/>
			<xs:enumeration value="ViewCredit"/>
			<xs:enumeration value="ImportLiabilities"/>
			<xs:enumeration value="CopyFromBorrower"/>
			<xs:enumeration value="AccessLenders"/>
			<xs:enumeration value="ProductAndPricing"/>
			<xs:enumeration value="CopyAddress"/>
			<xs:enumeration value="EditRegistration"/>
			<xs:enumeration value="AddRegistration"/>
			<xs:enumeration value="Ratespread"/>
			<xs:enumeration value="Geocode"/>
			<xs:enumeration value="EditCheck"/>
			<xs:enumeration value="DetailedLock"/>
			<xs:enumeration value="GetPricing"/>
			<xs:enumeration value="SubmitRequest"/>
			<xs:enumeration value="RequestLock"/>
			<xs:enumeration value="ExtendLock"/>
			<xs:enumeration value="SubFinancing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LoanActivityType" nillable="true" type="tns:LoanActivityType"/>
</xs:schema>