Services_SOAP_v1/TradeSvcs/Resources/xsd/platform/XMLSchema_-1223636087.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts">
	<xs:import schemaLocation="XMLSchema_186489158.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
	<xs:simpleType name="ServicingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ServicingReleased"/>
			<xs:enumeration value="ServicingRetained"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ServicingType" nillable="true" type="tns:ServicingType"/>
	<xs:simpleType name="FilterDataSource">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="Loan"/>
			<xs:enumeration value="BorrowerContact"/>
			<xs:enumeration value="BizContact"/>
			<xs:enumeration value="MasterContract"/>
			<xs:enumeration value="Trade"/>
			<xs:enumeration value="CorrespondentMasterCommitment"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FilterDataSource" nillable="true" type="tns:FilterDataSource"/>
	<xs:simpleType name="FieldTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IsNothing">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsString">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsNumeric">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsDate">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsPhone">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsMonthDay">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsOptionList">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsYesNo">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsCheckbox">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IsDateTime">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FieldTypes" nillable="true" type="tns:FieldTypes"/>
	<xs:simpleType name="RelatedLoanMatchType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="AnyClosed"/>
			<xs:enumeration value="LastClosed"/>
			<xs:enumeration value="AnyOriginated"/>
			<xs:enumeration value="LastOriginated"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RelatedLoanMatchType" nillable="true" type="tns:RelatedLoanMatchType"/>
	<xs:simpleType name="SortOrder">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Ascending"/>
			<xs:enumeration value="Descending"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SortOrder" nillable="true" type="tns:SortOrder"/>
	<xs:simpleType name="TradeFilterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Simple">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Advanced">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TradeFilterType" nillable="true" type="tns:TradeFilterType"/>
	<xs:simpleType name="TradeStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Open"/>
			<xs:enumeration value="Committed"/>
			<xs:enumeration value="Shipped"/>
			<xs:enumeration value="Purchased"/>
			<xs:enumeration value="Archived"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TradeStatus" nillable="true" type="tns:TradeStatus"/>
</xs:schema>