Services_SOAP_v1/TradeSvcs/Resources/xsd/platform/XMLSchema_-826223433.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://www.elliemae.com/encompass/platform" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.elliemae.com/encompass/platform">
	<xs:complexType
		name="SecurityTradeCreateRequest.SecurityTradeCreateRequestBody">
		<xs:sequence>
			<xs:element name="SecurityTrade" nillable="true"
				type="tns:SecurityTradeCreate" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityTradeCreateRequest.SecurityTradeCreateRequestBody"
		nillable="true"
		type="tns:SecurityTradeCreateRequest.SecurityTradeCreateRequestBody" />
	<xs:complexType name="SecurityTradeCreate">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:SecurityTrade">
				<xs:sequence>
					<xs:element minOccurs="0" name="PairOffs" nillable="true"
						type="tns:ArrayOfPairOff" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SecurityTradeCreate" nillable="true"
		type="tns:SecurityTradeCreate" />
	<xs:complexType name="SecurityTrade">
		<xs:sequence>
			<xs:element minOccurs="0" name="CommitmentDate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="CommitmentType" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="ConfirmDate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="Coupon" type="xs:decimal" />
			<xs:element minOccurs="0" name="Dealer" nillable="true"
				type="tns:ContactInformation" />
			<xs:element minOccurs="0" name="Locked" type="xs:boolean" />
			<xs:element name="Name" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="Notes" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="NotificationDate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="Price" type="xs:decimal" />
			<xs:element minOccurs="0" name="ProgramType" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="SecurityType" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="SettlementDate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="Term1" type="xs:int" />
			<xs:element minOccurs="0" name="Term2" type="xs:int" />
			<xs:element minOccurs="0" name="Tolerance" type="xs:decimal" />
			<xs:element minOccurs="0" name="TradeAmount" type="xs:decimal" />
			<xs:element minOccurs="0" name="TradeDescription"
				nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityTrade" nillable="true"
		type="tns:SecurityTrade" />
	<xs:complexType name="ContactInformation">
		<xs:sequence>
			<xs:element minOccurs="0" name="Address" nillable="true"
				type="tns:Address" />
			<xs:element minOccurs="0" name="ContactName" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="EmailAddress" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="EntityName" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="FaxNumber" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="PhoneNumber" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="WebSite" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContactInformation" nillable="true"
		type="tns:ContactInformation" />
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element minOccurs="0" name="City" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="State" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Street1" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Street2" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Address" nillable="true" type="tns:Address" />
	<xs:complexType name="ArrayOfPairOff">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="PairOff"
				nillable="true" type="tns:PairOff" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPairOff" nillable="true"
		type="tns:ArrayOfPairOff" />
	<xs:complexType name="PairOff">
		<xs:sequence>
			<xs:element minOccurs="0" name="Date" type="xs:dateTime" />
			<xs:element minOccurs="0" name="Fee" type="xs:decimal" />
			<xs:element minOccurs="0" name="Locked" type="xs:boolean" />
			<xs:element minOccurs="0" name="UndeliveredAmount" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PairOff" nillable="true" type="tns:PairOff" />
	<xs:element name="SecurityTradeCreateRequest" nillable="true"
		type="tns:SecurityTradeCreateRequest.SecurityTradeCreateRequestBody" />
	<xs:complexType name="SecurityContext">
		<xs:sequence>
			<xs:element name="Created" nillable="true" type="xs:dateTime" />
			<xs:element name="Realm" nillable="true" type="xs:string" />
			<xs:element name="SessionId" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="TokenData" nillable="true"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TokenType" nillable="true"
				type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserName" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityContext" nillable="true"
		type="tns:SecurityContext" />
	<xs:complexType
		name="SecurityTradeCreateResponse.SecurityTradeCreateResponseBody">
		<xs:sequence>
			<xs:element minOccurs="0" name="SecurityTradeID" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:element
		name="SecurityTradeCreateResponse.SecurityTradeCreateResponseBody"
		nillable="true"
		type="tns:SecurityTradeCreateResponse.SecurityTradeCreateResponseBody" />
	<xs:element name="SecurityTradeCreateResponse" nillable="true"
		type="tns:SecurityTradeCreateResponse.SecurityTradeCreateResponseBody" />
	<xs:complexType name="SecurityTradeGetRequest.SecurityTradeGetRequestBody">
		<xs:sequence>
			<xs:element minOccurs="0" name="TradeId" type="xs:int" />
			<xs:element minOccurs="0" name="TradeName" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityTradeGetRequest.SecurityTradeGetRequestBody"
		nillable="true" type="tns:SecurityTradeGetRequest.SecurityTradeGetRequestBody" />
	<xs:element name="SecurityTradeGetRequest" nillable="true"
		type="tns:SecurityTradeGetRequest.SecurityTradeGetRequestBody" />
	<xs:complexType name="SecurityTradeGetResponse.SecurityTradeGetResponseBody">
		<xs:sequence>
			<xs:element minOccurs="0" name="SecurityTrade" nillable="true"
				type="tns:SecurityTradeGet" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityTradeGetResponse.SecurityTradeGetResponseBody"
		nillable="true" type="tns:SecurityTradeGetResponse.SecurityTradeGetResponseBody" />
	<xs:complexType name="SecurityTradeGet">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:SecurityTrade">
				<xs:sequence>
					<xs:element minOccurs="0" name="Archived" type="xs:boolean" />
					<xs:element minOccurs="0" name="MaxAmount" type="xs:decimal" />
					<xs:element minOccurs="0" name="MinAmount" type="xs:decimal" />
					<xs:element minOccurs="0" name="PairOffsInfo" nillable="true"
						type="tns:SecurityTradePairOffsInfo" />
					<xs:element minOccurs="0" name="TradeID" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SecurityTradeGet" nillable="true"
		type="tns:SecurityTradeGet" />
	<xs:complexType name="SecurityTradePairOffsInfo">
		<xs:sequence>
			<xs:element minOccurs="0" name="PairOffs" nillable="true"
				type="tns:ArrayOfPairOffInfo" />
			<xs:element minOccurs="0" name="UndelieveredAmount" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityTradePairOffsInfo" nillable="true"
		type="tns:SecurityTradePairOffsInfo" />
	<xs:complexType name="ArrayOfPairOffInfo">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="PairOffInfo"
				nillable="true" type="tns:PairOffInfo" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfPairOffInfo" nillable="true"
		type="tns:ArrayOfPairOffInfo" />
	<xs:complexType name="PairOffInfo">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:PairOff">
				<xs:sequence>
					<xs:element minOccurs="0" name="GainLoss" type="xs:decimal" />
					<xs:element minOccurs="0" name="Index" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PairOffInfo" nillable="true" type="tns:PairOffInfo" />
	<xs:element name="SecurityTradeGetResponse" nillable="true"
		type="tns:SecurityTradeGetResponse.SecurityTradeGetResponseBody" />
	<xs:complexType
		name="SecurityTradeDeleteRequest.SecurityTradeDeleteRequestBody">
		<xs:sequence>
			<xs:element name="TradeId" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityTradeDeleteRequest.SecurityTradeDeleteRequestBody"
		nillable="true"
		type="tns:SecurityTradeDeleteRequest.SecurityTradeDeleteRequestBody" />
	<xs:element name="SecurityTradeDeleteRequest" nillable="true"
		type="tns:SecurityTradeDeleteRequest.SecurityTradeDeleteRequestBody" />
	<xs:complexType
		name="SecurityTradeDeleteResponse.SecurityTradeDeleteResponseBody">
		<xs:sequence>
			<xs:element minOccurs="0" name="Result" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:element
		name="SecurityTradeDeleteResponse.SecurityTradeDeleteResponseBody"
		nillable="true"
		type="tns:SecurityTradeDeleteResponse.SecurityTradeDeleteResponseBody" />
	<xs:element name="SecurityTradeDeleteResponse" nillable="true"
		type="tns:SecurityTradeDeleteResponse.SecurityTradeDeleteResponseBody" />
	<xs:complexType
		name="SecurityTradeUpdateRequest.SecurityTradeUpdateRequestBody">
		<xs:sequence>
			<xs:element name="SecurityTrade" nillable="true"
				type="tns:SecurityTradeUpdate" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityTradeUpdateRequest.SecurityTradeUpdateRequestBody"
		nillable="true"
		type="tns:SecurityTradeUpdateRequest.SecurityTradeUpdateRequestBody" />
	<xs:complexType name="SecurityTradeUpdate">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:SecurityTrade">
				<xs:sequence>
					<xs:element minOccurs="0" name="PairOffs" nillable="true"
						type="tns:ArrayOfPairOff" />
					<xs:element minOccurs="0" name="TradeID" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SecurityTradeUpdate" nillable="true"
		type="tns:SecurityTradeUpdate" />
	<xs:element name="SecurityTradeUpdateRequest" nillable="true"
		type="tns:SecurityTradeUpdateRequest.SecurityTradeUpdateRequestBody" />
	<xs:complexType
		name="SecurityTradeUpdateResponse.SecurityTradeUpdateResponseBody">
		<xs:sequence>
			<xs:element minOccurs="0" name="Result" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:element
		name="SecurityTradeUpdateResponse.SecurityTradeUpdateResponseBody"
		nillable="true"
		type="tns:SecurityTradeUpdateResponse.SecurityTradeUpdateResponseBody" />
	<xs:element name="SecurityTradeUpdateResponse" nillable="true"
		type="tns:SecurityTradeUpdateResponse.SecurityTradeUpdateResponseBody" />
</xs:schema>