Services_SOAP_v1/TradeSvcs/Resources/xsd/platform/XMLSchema_699591947.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.Common"><xs:complexType name="RangeOfdecimal"><xs:annotation><xs:appinfo><GenericType Name="RangeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"><GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema"/></GenericType></xs:appinfo></xs:annotation><xs:sequence><xs:element name="maxValue" type="xs:decimal"/><xs:element name="minValue" type="xs:decimal"/></xs:sequence></xs:complexType><xs:element name="RangeOfdecimal" nillable="true" type="tns:RangeOfdecimal"/><xs:complexType name="RangeOfint"><xs:annotation><xs:appinfo><GenericType Name="RangeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"><GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema"/></GenericType></xs:appinfo></xs:annotation><xs:sequence><xs:element name="maxValue" type="xs:int"/><xs:element name="minValue" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="RangeOfint" nillable="true" type="tns:RangeOfint"/></xs:schema>