Services_SOAP_v1/InputFormSvcs/Resources/wsdl/Platform/InputFormService.wsdl

<wsdl:definitions name="InputFormService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://www.elliemae.com/encompass/platform" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:import namespace="http://www.elliemae.com/encompass/platform" location="WSDL_791244760.wsdl"/>
	<wsdl:types/>
	<wsdl:binding name="BasicHttpBinding_IInputFormService" type="i0:IInputFormService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateInputForm">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/CreateInputForm" style="document"/>
			<wsdl:input name="InputFormCreateRequest">
				<soap:header message="i0:InputFormCreateRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormCreateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateInputForm">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/UpdateInputForm" style="document"/>
			<wsdl:input name="InputFormUpdateRequest">
				<soap:header message="i0:InputFormUpdateRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormUpdateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInputForm">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/GetInputForm" style="document"/>
			<wsdl:input name="InputFormGetRequest">
				<soap:header message="i0:InputFormGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteInputForm">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/DeleteInputForm" style="document"/>
			<wsdl:input name="InputFormDeleteRequest">
				<soap:header message="i0:InputFormDeleteRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormDeleteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInputForms">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/GetInputForms" style="document"/>
			<wsdl:input name="InputFormsGetRequest">
				<soap:header message="i0:InputFormsGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormsGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInputFormsByAsset">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/GetInputFormsByAsset" style="document"/>
			<wsdl:input name="InputFormsByAssetGetRequest">
				<soap:header message="i0:InputFormsByAssetGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormsByAssetGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateInputFormAsset">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/CreateInputFormAsset" style="document"/>
			<wsdl:input name="InputFormAssetCreateRequest">
				<soap:header message="i0:InputFormAssetCreateRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormAssetCreateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInputFormAsset">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/GetInputFormAsset" style="document"/>
			<wsdl:input name="InputFormAssetGetRequest">
				<soap:header message="i0:InputFormAssetGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormAssetGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateInputFormAsset">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/UpdateInputFormAsset" style="document"/>
			<wsdl:input name="InputFormAssetUpdateRequest">
				<soap:header message="i0:InputFormAssetUpdateRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormAssetUpdateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteInputFormAsset">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/DeleteInputFormAsset" style="document"/>
			<wsdl:input name="InputFormAssetDeleteRequest">
				<soap:header message="i0:InputFormAssetDeleteRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormAssetDeleteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInputFormAssets">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/GetInputFormAssets" style="document"/>
			<wsdl:input name="InputFormAssetsGetRequest">
				<soap:header message="i0:InputFormAssetsGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormAssetsGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInputFormAssetsByType">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/GetInputFormAssetsByType" style="document"/>
			<wsdl:input name="InputFormAssetsByTypeGetRequest">
				<soap:header message="i0:InputFormAssetsByTypeGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormAssetsByTypeGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetInputFormAssetsByInputForm">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/IInputFormService/GetInputFormAssetsByInputForm" style="document"/>
			<wsdl:input name="InputFormAssetsByInputFormGetRequest">
				<soap:header message="i0:InputFormAssetsByInputFormGetRequest_Headers" part="SecurityContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="InputFormAssetsByInputFormGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InputFormService">
		<wsdl:port name="BasicHttpBinding_IInputFormService" binding="tns:BasicHttpBinding_IInputFormService">
			<soap:address location="http://encplat-pod1.dev.dco.elmae/EncompassPlatform/InputFormService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>