Services_SOAP_v1/LoanSvcs/Resources/wsdl/Services/LoanMessagesSvc.wsdl

<wsdl:definitions name="LoanMessagesSvc" targetNamespace="http://www.elliemae.com/services/loanmsgs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elliemae.com/services/loanmsgs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sec="http://www.elliemae.com/services/security">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/services/loanmsgs" elementFormDefault="qualified">
			<xsd:include schemaLocation="../../xsd/Services/LoanMessagesSvc.xsd"/>
			<xsd:import schemaLocation="../../../../../Security_SOAP_v1/Shared/SecuritySvc.xsd" namespace="http://www.elliemae.com/services/security"/>
		</xsd:schema>
	</wsdl:types>
	
   <!--  get Duplicate Loan Templates -->
	<wsdl:message name="GetEPassLoanMessagesRequest">
		<wsdl:part name="GetEPassLoanMessagesRequest" element="tns:GetEPassLoanMessagesRequest"/>
	</wsdl:message>
	<wsdl:message name="GetEPassLoanMessagesRequest_Headers">
		<wsdl:part name="header" element="sec:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="GetEPassLoanMessagesResponse">
		<wsdl:part name="GetEPassLoanMessagesResponse" element="tns:GetEPassLoanMessagesResponse"/>
	</wsdl:message>

   <!--  Get Loan Alerts -->
	<wsdl:message name="GetPipelineLoanAlertsRequest">
		<wsdl:part name="GetPipelineLoanAlertsRequest" element="tns:GetPipelineLoanAlertsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetPipelineLoanAlertsResponse">
		<wsdl:part name="GetPipelineLoanAlertsResponse" element="tns:GetPipelineLoanAlertsResponse"/>
	</wsdl:message>

   <!--  Update Loan Alerts -->
	<wsdl:message name="UpdatePipelineLoanAlertsRequest">
		<wsdl:part name="UpdatePipelineLoanAlertsRequest" element="tns:UpdatePipelineLoanAlertsRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdatePipelineLoanAlertsResponse">
		<wsdl:part name="UpdatePipelineLoanAlertsResponse" element="tns:UpdatePipelineLoanAlertsResponse"/>
	</wsdl:message>
				
	<wsdl:portType name="LoanMessagesSvc">
		<wsdl:operation name="GetEPassLoanMessages">
			<wsdl:input message="tns:GetEPassLoanMessagesRequest"/>
			<wsdl:output message="tns:GetEPassLoanMessagesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetPipelineLoanAlerts">
			<wsdl:input message="tns:GetPipelineLoanAlertsRequest"/>
			<wsdl:output message="tns:GetPipelineLoanAlertsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UpdatePipelineLoanAlerts">
			<wsdl:input message="tns:UpdatePipelineLoanAlertsRequest"/>
			<wsdl:output message="tns:UpdatePipelineLoanAlertsResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="LoanMessagesSvcSOAP" type="tns:LoanMessagesSvc">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetEPassLoanMessages">
			<soap:operation soapAction="http://www.elliemae.com/services/LoanMessagesSvc/GetEPassLoanMessages"/>
			<wsdl:input>
			<soap:header message="tns:GetEPassLoanMessagesRequest_Headers" part="header" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPipelineLoanAlerts">
			<soap:operation soapAction="http://www.elliemae.com/services/LoanMessagesSvc/GetPipelineLoanAlerts"/>
			<wsdl:input>
			<soap:header message="tns:GetEPassLoanMessagesRequest_Headers" part="header" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePipelineLoanAlerts">
			<soap:operation soapAction="http://www.elliemae.com/services/LoanMessagesSvc/UpdatePipelineLoanAlerts"/>
			<wsdl:input>
			<soap:header message="tns:GetEPassLoanMessagesRequest_Headers" part="header" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="LoanMessagesSvc">
		<wsdl:port binding="tns:LoanMessagesSvcSOAP" name="LoanMessagesSvcSOAP">
			<soap:address location="http://encompass-ib.dev.dco.elmae:11001/encompass_v1/loan/msgs"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>