Services_SOAP_v1/PipelineSvc/Resources/wsdl/Services/PipelineCursorSvc.wsdl

<wsdl:definitions name="PipelineCursorSvc" targetNamespace="http://www.elliemae.com/services/pipelinecursor" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.elliemae.com/services/pipelinecursor" xmlns:sec="http://www.elliemae.com/services/security" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/services/pipelinecursor" elementFormDefault="qualified">
			<xsd:include schemaLocation="../../xsd/Services/PipelineCursorSvc.xsd"/>
			<xsd:import namespace="http://www.elliemae.com/services/security" schemaLocation="../../../../../Security_SOAP_v1/Shared/SecuritySvc.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="PipelineCursorRequest_Header">
		<wsdl:part name="SecurityContext" element="sec:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="CreatePipelineCursorRequestMsg">
		<wsdl:part name="body" element="tns:CreatePipelineCursorRequest"/>
	</wsdl:message>
	<wsdl:message name="CreatePipelineCursorResponseMsg">
		<wsdl:part name="body" element="tns:CreatePipelineCursorResponse"/>
	</wsdl:message>
	
    <wsdl:message name="ReadPipelineCursorRequestMsg">
		<wsdl:part name="body" element="tns:ReadPipelineCursorRequest"/>
	</wsdl:message>
	<wsdl:message name="ReadPipelineCursorResponseMsg">
		<wsdl:part name="body" element="tns:ReadPipelineCursorResponse"/>
	</wsdl:message>

	<wsdl:message name="DeletePipelineCursorRequestMsg">
		<wsdl:part name="body" element="tns:DeletePipelineCursorRequest"/>
	</wsdl:message>
	<wsdl:message name="DeletePipelineCursorResponseMsg">
		<wsdl:part name="body" element="tns:DeletePipelineCursorResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GetPipelineCursorsListRequestMsg">
		<wsdl:part name="body" element="tns:GetPipelineCursorsListRequest"/>
	</wsdl:message>
	<wsdl:message name="GetPipelineCursorsListResponseMsg">
		<wsdl:part name="body" element="tns:GetPipelineCursorsListResponse"/>
	</wsdl:message>
		
	<wsdl:portType name="PipelineCursorServicesPort">
		<wsdl:operation name="CreatePipelineCursor">
			<wsdl:input message="tns:CreatePipelineCursorRequestMsg"/>
			<wsdl:output message="tns:CreatePipelineCursorResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="ReadPipelineCursor">
			<wsdl:input message="tns:ReadPipelineCursorRequestMsg"/>
			<wsdl:output message="tns:ReadPipelineCursorResponseMsg"/>
		</wsdl:operation>
	    <wsdl:operation name="DeletePipelineCursor">
			<wsdl:input message="tns:DeletePipelineCursorRequestMsg"/>
			<wsdl:output message="tns:DeletePipelineCursorResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="GetPipelineCursorsList">
			<wsdl:input message="tns:GetPipelineCursorsListRequestMsg"/>
			<wsdl:output message="tns:GetPipelineCursorsListResponseMsg"/>
		</wsdl:operation>						
	</wsdl:portType>

	<wsdl:binding name="PipelineCursorServicesSOAP11Binding" type="tns:PipelineCursorServicesPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="CreatePipelineCursor">
			<soap:operation soapAction="http://www.elliemae.com/services/loanpipeline/CreatePipelineCursor" style="document"/>
			<wsdl:input>
			    <soap:header message="tns:PipelineCursorRequest_Header" part="SecurityContext" use="literal"/>
				<soap:body use="literal" parts="body"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="body"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReadPipelineCursor">
			<soap:operation soapAction="http://www.elliemae.com/services/loanpipeline/ReadPipelineCursor" style="document"/>
			<wsdl:input>
			    <soap:header message="tns:PipelineCursorRequest_Header" part="SecurityContext" use="literal"/>
				<soap:body use="literal" parts="body"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="body"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeletePipelineCursor">
			<soap:operation soapAction="http://www.elliemae.com/services/loanpipeline/DeletePipelineCursor" style="document"/>
			<wsdl:input>
			    <soap:header message="tns:PipelineCursorRequest_Header" part="SecurityContext" use="literal"/>
				<soap:body use="literal" parts="body"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetPipelineCursorsList">
			<soap:operation soapAction="http://www.elliemae.com/services/loanpipeline/GetPipelineCursorsList" style="document"/>
			<wsdl:input>
				<soap:header message="tns:PipelineCursorRequest_Header" part="SecurityContext" use="literal"/>
				<soap:body use="literal" parts="body"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="PipelineCursorService">
		<wsdl:port name="PipelineCursorServices" binding="tns:PipelineCursorServicesSOAP11Binding">
			<soap:address location="http://encompass-ia.dev.dco.elmae:11001/encompass_v1/loan/pipeline/cursor"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>