Services_SOAP_v1/FieldSearch/Resources/xsd/Platform/XMLSchema_1085557425.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts"><xs:simpleType name="SortOrder"><xs:restriction base="xs:string"><xs:enumeration value="None"/><xs:enumeration value="Ascending"/><xs:enumeration value="Descending"/></xs:restriction></xs:simpleType><xs:element name="SortOrder" nillable="true" type="tns:SortOrder"/><xs:complexType name="ArrayOfFieldSearchCustomFieldOptionDefinitionInfoContract"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="FieldSearchCustomFieldOptionDefinitionInfoContract" nillable="true" type="tns:FieldSearchCustomFieldOptionDefinitionInfoContract"/></xs:sequence></xs:complexType><xs:element name="ArrayOfFieldSearchCustomFieldOptionDefinitionInfoContract" nillable="true" type="tns:ArrayOfFieldSearchCustomFieldOptionDefinitionInfoContract"/><xs:complexType name="FieldSearchCustomFieldOptionDefinitionInfoContract"><xs:sequence><xs:element minOccurs="0" name="FieldId" type="xs:int"/><xs:element minOccurs="0" name="OptionNumber" type="xs:int"/><xs:element minOccurs="0" name="OptionValue" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="FieldSearchCustomFieldOptionDefinitionInfoContract" nillable="true" type="tns:FieldSearchCustomFieldOptionDefinitionInfoContract"/></xs:schema>