Services_SOAP_v1/PipelineTradeSvc/Resources/wsdl/Platform/WSDL_-1150746384.wsdl

<wsdl:definitions targetNamespace="http://www.elliemae.com/encompass/platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elliemae.com/encompass/platform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/encompass/platform/Imports">
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_-629403847.xsd" namespace="http://www.elliemae.com/encompass/platform"/>
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_-1591017864.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_332210170.xsd" namespace="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts"/>
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_1293824187.xsd" namespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.ClientServer.Reporting"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SecurityTradePipelineGetRequest">
		<wsdl:part name="SecurityTradePipelineGetRequest" element="tns:SecurityTradePipelineGetRequest"/>
	</wsdl:message>
	<wsdl:message name="SecurityTradePipelineGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="SecurityTradePipelineGetResponse">
		<wsdl:part name="SecurityTradePipelineGetResponse" element="tns:SecurityTradePipelineGetResponse"/>
	</wsdl:message>
	<wsdl:message name="SecurityTradePipelineDetailGetRequest">
		<wsdl:part name="SecurityTradePipelineDetailGetRequest" element="tns:SecurityTradePipelineDetailGetRequest"/>
	</wsdl:message>
	<wsdl:message name="SecurityTradePipelineDetailGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="SecurityTradePipelineDetailGetResponse">
		<wsdl:part name="SecurityTradePipelineDetailGetResponse" element="tns:SecurityTradePipelineDetailGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="ISecurityTradePipelineService">
		<wsdl:operation name="GetSecurityTradePipeline">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ISecurityTradePipelineService/GetSecurityTradePipeline" name="SecurityTradePipelineGetRequest" message="tns:SecurityTradePipelineGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ISecurityTradePipelineService/GetSecurityTradePipelineResponse" name="SecurityTradePipelineGetResponse" message="tns:SecurityTradePipelineGetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetSecurityTradePipelineDetail">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ISecurityTradePipelineService/GetSecurityTradePipelineDetail" name="SecurityTradePipelineDetailGetRequest" message="tns:SecurityTradePipelineDetailGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ISecurityTradePipelineService/GetSecurityTradePipelineDetailResponse" name="SecurityTradePipelineDetailGetResponse" message="tns:SecurityTradePipelineDetailGetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>