Services_SOAP_v1/PipelineTradeSvc/Resources/wsdl/Platform/WSDL_2043971136.wsdl

<wsdl:definitions targetNamespace="http://www.elliemae.com/encompass/platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elliemae.com/encompass/platform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/encompass/platform/Imports">
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_-1729653623.xsd" namespace="http://www.elliemae.com/encompass/platform"/>
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_1603699656.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_-768039606.xsd" namespace="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.DataContracts"/>
			<xsd:import schemaLocation="../../xsd/Platform/XMLSchema_193574411.xsd" namespace="http://schemas.datacontract.org/2004/07/EllieMae.EMLite.ClientServer.Reporting"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="LoanTradePipelineDetailGetRequest">
		<wsdl:part name="LoanTradePipelineDetailGetRequest" element="tns:LoanTradePipelineDetailGetRequest"/>
	</wsdl:message>
	<wsdl:message name="LoanTradePipelineDetailGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="LoanTradePipelineDetailGetResponse">
		<wsdl:part name="LoanTradePipelineDetailGetResponse" element="tns:LoanTradePipelineDetailGetResponse"/>
	</wsdl:message>
	<wsdl:message name="LoanTradePipelineGetRequest">
		<wsdl:part name="LoanTradePipelineGetRequest" element="tns:LoanTradePipelineGetRequest"/>
	</wsdl:message>
	<wsdl:message name="LoanTradePipelineGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="LoanTradePipelineGetResponse">
		<wsdl:part name="LoanTradePipelineGetResponse" element="tns:LoanTradePipelineGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="ILoanTradePipelineService">
		<wsdl:operation name="GetLoanTradePipelineDetail">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradePipelineService/GetLoanTradePipelineDetail" name="LoanTradePipelineDetailGetRequest" message="tns:LoanTradePipelineDetailGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradePipelineService/GetLoanTradePipelineDetailResponse" name="LoanTradePipelineDetailGetResponse" message="tns:LoanTradePipelineDetailGetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetLoanTradePipeline">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradePipelineService/GetLoanTradePipeline" name="LoanTradePipelineGetRequest" message="tns:LoanTradePipelineGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ILoanTradePipelineService/GetLoanTradePipelineResponse" name="LoanTradePipelineGetResponse" message="tns:LoanTradePipelineGetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>