Services_SOAP_v1/Shared/Resources/wsdl/WSDL_-680411174.wsdl

<wsdl:definitions targetNamespace="http://www.elliemae.com/encompass/platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elliemae.com/encompass/platform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/encompass/platform/Imports">
			<xsd:import schemaLocation="../xsd/XMLSchema_-1576698319.xsd" namespace="http://www.elliemae.com/encompass/platform"/>
			<xsd:import schemaLocation="../xsd/XMLSchema_-1509691566.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="../xsd/XMLSchema_-1643705072.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SettingGetRequest">
		<wsdl:part name="SettingGetRequest" element="tns:SettingGetRequest"/>
	</wsdl:message>
	<wsdl:message name="SettingGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="SettingGetResponse">
		<wsdl:part name="SettingGetResponse" element="tns:SettingGetResponse"/>
	</wsdl:message>
	<wsdl:message name="UserSettingGetRequest">
		<wsdl:part name="UserSettingGetRequest" element="tns:UserSettingGetRequest"/>
	</wsdl:message>
	<wsdl:message name="UserSettingGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="UserSettingGetResponse">
		<wsdl:part name="UserSettingGetResponse" element="tns:UserSettingGetResponse"/>
	</wsdl:message>
	<wsdl:message name="UserSettingSetRequest">
		<wsdl:part name="UserSettingSetRequest" element="tns:UserSettingSetRequest"/>
	</wsdl:message>
	<wsdl:message name="UserSettingSetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="ISettingService_UserSettingSet_OutputMessage"/>
	<wsdl:message name="ProductPricingSettingGetRequest">
		<wsdl:part name="ProductPricingSettingGetRequest" element="tns:ProductPricingSettingGetRequest"/>
	</wsdl:message>
	<wsdl:message name="ProductPricingSettingGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="ProductPricingSettingGetResponse">
		<wsdl:part name="ProductPricingSettingGetResponse" element="tns:ProductPricingSettingGetResponse"/>
	</wsdl:message>
	<wsdl:message name="RoleAssignableUserSettingGetRequest">
		<wsdl:part name="RoleAssignableUserSettingGetRequest" element="tns:RoleAssignableUserSettingGetRequest"/>
	</wsdl:message>
	<wsdl:message name="RoleAssignableUserSettingGetRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="RoleAssignableUserSettingGetResponse">
		<wsdl:part name="RoleAssignableUserSettingGetResponse" element="tns:RoleAssignableUserSettingGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="ISettingService">
		<wsdl:operation name="SettingGet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/SettingGet" name="SettingGetRequest" message="tns:SettingGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/SettingGetResponse" name="SettingGetResponse" message="tns:SettingGetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UserSettingGet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/UserSettingGet" name="UserSettingGetRequest" message="tns:UserSettingGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/UserSettingGetResponse" name="UserSettingGetResponse" message="tns:UserSettingGetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UserSettingSet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/UserSettingSet" name="UserSettingSetRequest" message="tns:UserSettingSetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/UserSettingSetResponse" message="tns:ISettingService_UserSettingSet_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ProductPricingSettingGet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/ProductPricingSettingGet" name="ProductPricingSettingGetRequest" message="tns:ProductPricingSettingGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/ProductPricingSettingGetResponse" name="ProductPricingSettingGetResponse" message="tns:ProductPricingSettingGetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="RoleAssignableUserSettingGet">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/RoleAssignableUserSettingGet" name="RoleAssignableUserSettingGetRequest" message="tns:RoleAssignableUserSettingGetRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/ISettingService/RoleAssignableUserSettingGetResponse" name="RoleAssignableUserSettingGetResponse" message="tns:RoleAssignableUserSettingGetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>