Services_SOAP_v1/EntitlementSvcs/Resources/wsdl/Platform/UserEntitlementSvc.wsdl

<wsdl:definitions name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://www.elliemae.com/encompass/platform" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:import namespace="http://www.elliemae.com/encompass/platform" location="WSDL_-992928914.wsdl"/>
	<wsdl:types/>
	<wsdl:binding name="BasicHttpBinding_ISecurityService" type="i0:ISecurityService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AuthenticateClient">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/ISecurityService/AuthenticateClient" style="document"/>
			<wsdl:input name="AuthenticateClientRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AuthenticateClientResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UserProfileGet">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/ISecurityService/UserProfileGet" style="document"/>
			<wsdl:input name="UserProfileGetRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UserProfileGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetUserGroups">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/ISecurityService/GetUserGroups" style="document"/>
			<wsdl:input name="UserGroupsGetRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UserGroupsGetResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UserAccessRightsGet">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/ISecurityService/UserAccessRightsGet" style="document"/>
			<wsdl:input name="UserAccessRightsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="UserAccessRightsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IssueAuthenticationToken">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/ISecurityService/IssueAuthenticationToken" style="document"/>
			<wsdl:input name="IssueAuthenticationTokenRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="IssueAuthenticationTokenResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AuthenticateClientWithToken">
			<soap:operation soapAction="http://www.elliemae.com/encompass/platform/ISecurityService/AuthenticateClientWithToken" style="document"/>
			<wsdl:input name="AuthenticateClientTokenRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AuthenticateClientResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SecurityService">
		<wsdl:port name="BasicHttpBinding_ISecurityService" binding="tns:BasicHttpBinding_ISecurityService">
			<soap:address location="http://encplat-pod1.dev.dco.elmae/EncompassPlatform/SecurityService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>