Services_SOAP_v1/MilestoneSvcs/Resources/wsdl/platform/WSDL_1411845680.wsdl

<wsdl:definitions targetNamespace="http://www.elliemae.com/encompass/platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elliemae.com/encompass/platform" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.elliemae.com/encompass/platform/Imports">
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_515558535.xsd" namespace="http://www.elliemae.com/encompass/platform"/>
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_582565288.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_448551782.xsd" namespace="http://schemas.datacontract.org/2004/07/Elli.EncompassPlatform.Common.SoapMessages"/>
			<xsd:import schemaLocation="../../xsd/platform/XMLSchema_381545029.xsd" namespace="http://schemas.datacontract.org/2004/07/Elli.BusinessRules"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MilestoneCompleteRequest">
		<wsdl:part name="MilestoneCompleteRequest" element="tns:MilestoneCompleteRequest"/>
	</wsdl:message>
	<wsdl:message name="MilestoneCompleteRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="MilestoneCompleteResponse">
		<wsdl:part name="MilestoneCompleteResponse" element="tns:MilestoneCompleteResponse"/>
	</wsdl:message>
	<wsdl:message name="MilestoneDataRequest">
		<wsdl:part name="MilestoneDataRequest" element="tns:MilestoneDataRequest"/>
	</wsdl:message>
	<wsdl:message name="MilestoneDataRequest_Headers">
		<wsdl:part name="SecurityContext" element="tns:SecurityContext"/>
	</wsdl:message>
	<wsdl:message name="MilestoneDataResponse">
		<wsdl:part name="MilestoneDataResponse" element="tns:MilestoneDataResponse"/>
	</wsdl:message>
	<wsdl:portType name="IMilestoneService">
		<wsdl:operation name="CompleteMilestone">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/IMilestoneService/CompleteMilestone" name="MilestoneCompleteRequest" message="tns:MilestoneCompleteRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/IMilestoneService/CompleteMilestoneResponse" name="MilestoneCompleteResponse" message="tns:MilestoneCompleteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="MilestoneData">
			<wsdl:input wsaw:Action="http://www.elliemae.com/encompass/platform/IMilestoneService/MilestoneData" name="MilestoneDataRequest" message="tns:MilestoneDataRequest"/>
			<wsdl:output wsaw:Action="http://www.elliemae.com/encompass/platform/IMilestoneService/MilestoneDataResponse" name="MilestoneDataResponse" message="tns:MilestoneDataResponse"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>