Services_SOAP_v1/MilestoneSvcs/Resources/xsd/services/MilestoneSvc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.elliemae.com/services/milestone"
	xmlns:tns="http://www.elliemae.com/services/milestone"
	elementFormDefault="qualified">
	
   	<xsd:element name="GetLoanMilestoneDataRequest" 	nillable="true" type="tns:GetLoanMilestoneDataRequestType" />	
	<xsd:element name="GetLoanMilestoneDataResponse" nillable="true" type="tns:GetLoanMilestoneDataResponseType" />
	
	<xsd:complexType name="GetLoanMilestoneDataRequestType">
		<xsd:sequence />
	</xsd:complexType>
	
	<xsd:complexType name="GetLoanMilestoneDataResponseType">
			<xsd:sequence>
			<xsd:element minOccurs="0" name="MilestoneDataSet" nillable="true" type="tns:ArrayOfMilestoneData" />
		</xsd:sequence>	
	</xsd:complexType>
	
	<xsd:complexType name="ArrayOfMilestoneData">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="MilestoneData" nillable="true" type="tns:MilestoneData" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="MilestoneData">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Color" nillable="true"	type="xsd:string"/>
			<xsd:element minOccurs="0" name="Name" nillable="true"	type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>